.addMovie {
  margin-left: 20px;
  display: inline;
}

.addMovieButton {
  color: #642d6b;
  margin-left: 15px;
  margin-right: 0;
  border: 1px solid #642d6b;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #02020293;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}

label {
  margin: 10px 0;
  font-size: 1.2rem;
}

.addMovieInputText,
.addMovieInputTextArea,
.addMovieInputGenre,
.addMovieInputYear,
.addMovieInputRating,
.addMovieInputPoster,
.addMovieInputAgeLimit,
.addMovieInputTrailerUrl {
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.addMovieInputText:focus,
.addMovieInputTextArea:focus,
.addMovieInputRating:focus {
  outline: none;
}

.addMovieInputTextArea {
  height: 100px;
}

.addMovieButtonBD {
  padding: 10px 15px;
  background-color: #09a657;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.addMovieButtonBD:hover {
  background-color: #fdfdfd;
  color: #ee4949;
}

@media screen and (max-width: 375px) {
  .addMovieInputText,
  .addMovieInputPoster,
  .addMovieInputGenre,
  .addMovieInputYear,
  .addMovieInputRating,
  .addMovieInputAgeLimit,
  .addMovieInputTrailerUrl {
    width: 100%;
    margin-bottom: 10px;
  }

  .addMovieInputTextArea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }

  label {
    font-size: 14px;
  }

  .addMovieButtonBD {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 5px;
  }

  .addMovieClose {
    font-size: 12px;
    padding: 10px 5px;
  }
}
