.addMovie {
  margin-left: 20px;
}

.addMovieButton{
  color: #642d6b;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #02020293;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}

label {
  margin: 10px 0;
  font-size: 1.2rem;
}

.addMovieInputText,
.addMovieInputTextArea,
.addMovieInputRating,
.addMovieInputPoster,
.addMovieInputAgeLimit,
.addMovieInputTrailerUrl {
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.addMovieInputText:focus,
.addMovieInputTextArea:focus,
.addMovieInputRating:focus {
  outline: none;
}

.addMovieInputTextArea {
  height: 100px;
}

button[type='submit'] {
  padding: 10px 15px;
  background-color: #09a657;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type='submit']:hover {
  background-color: #fdfdfd;
  color: #ee4949;
}
