.movieBtn {
  margin-top: 10px;
  background-color: #ef5e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.movieBtnD {
  margin-top: 10px;
  background-color: #666666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookingT {
  display: flex;
  flex-direction: column;
}

.bookingName,
.bookingPhone {
  margin-top: 10px;
  background-color: #f1f1f1;
  color: #642d6b;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #642d6b;
  padding: 10px;
}

.bookingBtn {
  margin-top: 10px;
  background-color: #642d6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookingName::placeholder,
.bookingPhone::placeholder {
  color: #642d6b;
}

.bookingOkHeader {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
  color: #fff;
  margin-top: 10px;
  background-color: #1f9c49;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}

.bookingOkText {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #642d6b;
  max-width: 410px;
}
