.menuButton {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #642d6b;
  cursor: pointer;
  z-index: 100;
}

.adminSlidebar {
  display: none;
  background-color: #642d6bd8;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0;
  margin-bottom: 20px;
  transition: 0.5s;
}

.showMenu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  height: 100%;
}

.adminSlidebarList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.adminSlidebarListItem {
  border: 1px solid #fff;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
}

.adminSlidebarListItemLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .adminSlidebar {
    align-items: center;
  }

  .adminSlidebarList {
    row-gap: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .adminSlidebarListItemLink {
    font-size: 16px;
  }
}
