.adminSlidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 200px;
  height: 100%;
  border-right: 5px solid rgb(255, 255, 255);
}

.adminSlidebarList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.adminSlidebarListItem {
  list-style: none;
  border: 1px solid #fff;
  padding: 5px 0;
  margin: 0 5px;
}

.adminSlidebarListItemLink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
