.movieListB {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
  transition: 0.5s;
  margin-top: 40px;
}

.movieListDate {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.movieListDateButton {
  background-color: #642d6b;
  border: 2px solid #642d6b;
}

.movieListDateButton:hover {
  background-color: #fff;
  border: 2px solid #642d6b;
  color: #642d6b;
}
