.movieList {
  min-height: calc(100vh - 70px);
}

.movieListB {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  align-items: stretch;
}

.movieListMovieWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  column-gap: 30px;
  flex-wrap: wrap;
  transition: 0.5s;
  margin-top: 40px;
}

.movieListDate {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 10px;
}

.movieListDateHeader {
  text-align: center;
  margin: 10px 0;
  color: #642d6b;
}

.movieListDateButton {
  background-color: #642d6b;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #642d6b;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.movieListDateButton:hover {
  background-color: #fff;
  border: 2px solid #642d6b;
  color: #642d6b;
}
.movieListDateButtonActive {
  background-color: #fff;
  border: 2px solid #642d6b;
  color: #642d6b;
}
