.customerItem {
  background-color: #3c3f4d;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.customerItemSessionTitle {
  font-size: 24px;
  margin: 0 0 10px;
}

.customerItemSessionDateTime {
  font-size: 18px;
  margin: 0 0 10px;
}

.customerItemSessionPrice {
  font-size: 18px;
  margin: 0 0 10px;
}

.customerTable {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  border-collapse: collapse;
  overflow-x: scroll;
}

.customerTableHeader {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 5px;
  border-bottom: 2px solid #fff;
}

.customerTableData {
  font-size: 16px;
  text-align: right;
  padding: 5px;
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .customerItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .customerTable {
    margin: 10px 0;
    max-width: none;
    overflow-x: auto;
  }

  .customerTableHeader,
  .customerTableData {
    text-align: left;
  }
}
