.footer {
  margin-top: 40px;
  background-color: #642d6b;
  padding: 20px;
}

.footerB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.footerMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.footerMap iframe {
  width: 95vw;
  border-radius: 5px;
}

.footerMapAdress address {
  color: #fff;
  text-align: center;
}

.footerContact {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 1px 1px 10px rgb(167, 167, 167);
}
.footerContactTitle {
  text-align: center;
  color: #642d6b;
}

.footerContactSocial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.footerContactInst,
.footerContactTelegram,
.footerContactPhone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footerContactInstLink,
.footerContactTelegramLink,
.footerContactPhoneLink {
  text-transform: uppercase;
  text-decoration: none;
  color: #642d6b;
}

@media screen and (max-width: 500px) {
  .footerContact {
    row-gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .footerContactTitle {
    font-size: 18px;
  }
  .footerContactInstLink,
  .footerContactTelegramLink,
  .footerContactPhoneLink {
    font-size: 12px;
  }
  .footerContactInstImg,
  .footerContactTelegramImg,
  .footerContactPhoneImg {
    width: 24px;
  }
}
