.adminMovieList {
  margin-top: 100px;
}

.adminMovieListItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.adminMovieListSearchBar {
  display: flex;
  justify-content: center;
}
.adminMovieListSearch {
  width: 80vw;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .adminMovieListSearchBar {
    justify-content: flex-start;
  }

  .adminMovieListSearch {
    width: 60vw;
    margin: 10px 30px;
  }
}
