.movie {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border: 2px solid #642d6b;
}

.movieG {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.moviePoster {
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}
.moviePoster:hover {
  transform: scale(1.05);
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #642d6b;
  row-gap: 10px;
  font-weight: bold;
}

.moviePT {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.moviePrice {
  background-color: #642d6b;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

.movieTime {
  background-color: #ffee50;
  color: #000000;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}

.movieTitle {
  color: #642d6b;
  max-width: 203px;
  font-size: 22px;
  font-weight: bold;
}

.movieDescription {
  max-width: 203px;
  font-size: 14px;
  height: 150px;
  margin-bottom: 20px;
}

.movieDescriptionTitle {
  font-size: 18px;
  text-decoration: uppercase;
  font-weight: bold;
}

.movieGenre {
  margin-bottom: 10px;
}

.movieRaR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movieRating {
  background-color: #9c2323;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 5px;
}

.ageRestriction {
  font-size: 14px;
  color: #642d6b;
}

.movieBtn {
  margin-top: 10px;
  background-color: #ef5e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movieBtn:hover {
  background-color: #e60000;
}

@media screen and (max-width: 475px) {
  .movieG {
    row-gap: 20px;
  }

  .moviePoster {
    width: 150px;
  }
  .movieTitle {
    height: auto;
    margin-bottom: 0;
  }

  .moviePrice {
    font-size: 14px;
  }

  .movieTime {
    font-size: 14px;
  }
  .movieDescription {
    font-size: 12px;
  }
  .movieInfo {
    align-items: flex-start;
    /* row-gap: 20px; */
  }
  .movieRating {
    font-size: 11px;
  }
  .moviePT {
    align-items: flex-start;
  }

  .movieDescription {
    height: auto;
    max-width: 115px;
  }
}

@media screen and (max-width: 375px) {
  .movieTitle {
    font-size: 18px;
  }
  .moviePoster {
    width: 140px;
  }
  .moviePrice,
  .movieTime {
    font-size: 11px;
  }
}
