.movie {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border: 2px solid #642d6b;
}
/* #642d6b */
.movieG {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.moviePoster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #642d6b;
}

.moviePT {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
align-items: flex-end;
  margin-bottom: 10px;
}

.moviePrice {
  background-color: #642d6b;
  color: #fff;
  padding: 5px 10px;  
  font-size: 16px;
  margin-right: 20px;
  border-radius: 5px;
}

.movieTime {
  background-color: #642d6b;
  color: #fff;
  padding: 5px 10px;  
  font-size: 16px;
  margin-right: 20px;
  border-radius: 5px;
}

.movieTitle {
  color: #642d6b;
  max-width: 203px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movieDescription {
  max-width: 203px;
  font-size: 14px;
  height: 150px;
  margin-bottom: 20px;
}

.movieDescriptionTitle{
  font-size:18px;
  text-decoration: uppercase;
  font-weight: bold;
}

.movieRaR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movieRating {
  background-color: #9c2323;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 5px;

}

.ageRestriction {
  font-size: 14px;
  font-weight: bold;
  color: #642d6b;
}

.movieBtn {
  margin-top: 10px;
  background-color: #ef5e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movieBtn:hover {
  background-color: #e60000;
}

.starFilled {
  color: #e60000;
}

.starEmpty {
  color: #ffffff3f;
}
